extends layout

block content
  h1(class='section-title')= title

  div(class='artist-grid')
    each artist in artist_list
        a(href= artist.url class='artist-grid__item') #{artist.name}

    else
      div There are no items. Something's not right...
