extends layout

block content
  div(class="hero")
    img(src="https://cdn.shopify.com/s/files/1/0110/1882/9920/files/Stella_UpAndAway_MegaMart_1280x460_5349cf4f-0616-4f26-a454-c9f3fe854559_1280x.jpg?v=1650476550", alt="Hero image")
