extends layout

block content
  div(class='container-xl')
    div(class='row')
      p NOTICE: Accounts are disabled for this website. If you are an admin, please enter the admin username and password.

