doctype html
html(lang='en')
  head
    title= title + ' – Sub Pop Mega Mart'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="stylesheet" href="https://use.typekit.net/zud4opj.css">
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")  
  body
    div(class='header-bar')
      ul(class='header-bar__module')
        li 
          a(href='/login') Log in
        li 
          a or 
        li 
          a(href='/create-account') Create account
    div(class='header')
      div(class='header-logo')
        a(href="/catalog")
          img(src="http://localhost:3000/images/MegaMartHeader_2020_540x.webp", alt="Sub Pop MegaMart Logo", id="logo")
      div(class='header-nav')
        ul(class='navbar')
          li
            ul(class='navbar__dropdown')
              a(href='/catalog/items' class='navbar__dropbtn') Music
              li(class='navbar__dropdown-content')
                a(href='/catalog/pre-orders') Pre Orders
                a(href='#') New Releases
                a(href='/catalog/sub-pop-releases') Sub Pop
                a(href='/catalog/hardly-art') Hardly Art
                a(href='/catalog/other-labels') Other Labels
                a(href='/catalog/comedy') Or Perhaps Comedy          
          li  
            ul(class='navbar__dropdown')
              a(href='/catalog/artists' class='navbar__dropbtn') Artists
              li(class='navbar__dropdown-content')
                a(href="/catalog/featured-artists") Featured Artists
                a(href='/catalog/artists') Artists A-Z
          li
            a(href='/catalog/apparel') Apparel
          li
            a(href='/catalog/goods') Goods
          li
            a(href='/catalog/clearance') Clearance
          li
            a(href='/catalog/gift-cards') Gift Cards
    div(class='container-fluid')
      div(class='row')
        block content
    div(class='footer')
      div
        br
        h1 Attention, please!
        br
        p This website is a CLONE of Sub Pop's online store. This CLONE is not now, nor will ever be, set up to receive any payment or collect any data. 
          | All materials are property of Sub Pop and any copyright infringement is unintended! This website was created solely as a practice project. 
        p This CLONE was written from scratch using Express, Node, and MongoDB with Mongoose. 
        p In addition to the features of the original Sub Pop Mega Mart website, this CLONE features a fully functional inventory management system that is revealed when a user logs in as an admin. 
          | The inventory management system allows a user to create and update item listings. However, item deletion is disabled.
        p
          strong Did I mention this is NOT the REAL Sub Pop website? 
        p To visit and support the REAL Sub Pop, visit 
          a(href="https://megamart.subpop.com/") https://megamart.subpop.com.